* {
    box-sizing: border-box;
}

header {
    background-color: #4CBCD0;
    text-align: center;
    padding: 20px;
}

header img {
    grid-area: header;
    width: 15em;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: #d0604c;
    padding: 10px;
}

nav a {
    float: left;
    display: block;
    color:#f2e0d2;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 100px;
}

nav a:hover {
    background-color: #f2e0d2;
    color: #d0604c;
}

main {
    width: 0.5;
    overflow-y: auto;
}

body {
    margin: 0;
    font-family: 'Helvetica';
    background-color: #d0604c;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    min-height: 100vh;
}

.grid-container > div {
    background-color: #f2e0d2;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    width: 100%;
    border-radius: 20px;
    color: #d0604c;
}

.grid-main {
    grid-column: 1 / span 3;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px
}

.footer-halfs {
    grid-column: 1 / span 2;
}

.footer-logo {
    padding: 60px;
}

.footer-copywright {
    font-size: 12pt;
    padding: 50px;
    color: #d0604c;
}

footer {
    grid-template-columns: 1fr 1fr;
    background-color: #4CBCD0;
    text-align: center;
    min-height: 0vh;
}

footer img {
    grid-area: header;
    width: 15em;
    height: auto;
}